:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* colors */
  --primary-color-main: #090979;
  --primary-color-sub: #020024;
  --secondary-color: #00D4FF;
  --font-color-light: #3c3c3f;


  /* -- font styles -- */
    --fs-nav: 1rem;
    --fs-hero-title: 3rem;
    --fs-hero-subtitle: 1.5rem;
    --fs-h1: 2.25rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
    --fs-small: 0.975rem;
    --fs-button: 1rem;
    --fs-label: 0.875rem;
    --fs-footer: 0.875rem;
    --fs-logo: 1.4rem


}

/* --------------------------------------------------------------------------------------------------------- */
                                          /* Default Styles */
/* --------------------------------------------------------------------------------------------------------- */


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.background-color {
  background: #020024;
  background: linear-gradient(291deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.company__logo {
  font-size: var(--fs-logo);
  font-weight: bold;
  text-transform: uppercase;
}

.blue {
  color: var(--primary-color-main);
}

.width {
  width: 90%;
  margin: 0 auto;
}

/* --------------------------------------------------------------------------------------------------------- */
                                          /* Header Section */
/* --------------------------------------------------------------------------------------------------------- */

.header__one {
  display: none;
}

.header__three {
  display: none;
}

.header__container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}







/* ######################################################################################################## */
                                          /* Media Screens */
/* ######################################################################################################## */


@media only screen and (min-width: 800px) { 
    :root {
  /* -- font styles -- */
  --fs-nav: 1.1rem;
  --fs-hero-title: 2.25rem;
  --fs-hero-subtitle: 1.125rem;
  --fs-h1: 1.75rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 0.9375rem;
  --fs-small: 0.85rem;
  --fs-button: 0.9375rem;
  --fs-label: 0.75rem;
  --fs-footer: 0.75rem;
  --fs-logo: 2.5rem

  } 


/* --------------------------------------------------------------------------------------------------------- */
                                          /* Header Section */
/* --------------------------------------------------------------------------------------------------------- */

.header__container {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.header__one {
  display: block;
}

.header__three {
  display: block;
}

.header__flex {
  display: flex;
  gap: 13px;
  cursor: pointer;
}

.header__flex li:hover {
  color: var(--primary-color-sub);
}


}

