:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* colors */
  --primary-color-main: #090979;
  --primary-color-sub: #020024;
  --secondary-color: #00D4FF;
  --font-color-light: #3c3c3f;


  /* -- font styles -- */
    --fs-nav: 1rem;
    --fs-hero-title: 2.7rem;
    --fs-hero-subtitle: 1.15rem;
    --fs-h1: 1.75rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-small: 0.975rem;
    --fs-button: 0.85rem;
    --fs-label: 0.9875rem;
    --fs-footer: 0.75rem;
    --fs-logo: 1.4rem


}

/* --------------------------------------------------------------------------------------------------------- */
                                          /* Default Styles */
/* --------------------------------------------------------------------------------------------------------- */


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.background-color {
  background: #020024;
  background: linear-gradient(291deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.company__logo {
  font-size: var(--fs-logo);
  font-weight: bold;
  text-transform: uppercase;
}

.blue {
  color: var(--primary-color-main);
}

.width {
  width: 90%;
  margin: 0 auto;
}

.background-blue {
  background: var(--primary-color-main);
  color: white;
}

.icon-image {
  width: 25px;
  height: auto;
}


/* common heading */
/* sub heading */
.sub-font {
  font-size: var(--fs-small);
  font-weight: 500;
  color: var(--font-color-light);
  text-transform: uppercase;
}

.main-font {
  font-size: var(--fs-h1);
  line-height: 35px;
  font-weight: 520;
  color: var(--primary-color-sub);
}


.main-image {
  max-width: 550px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}


/* --------------------------------------------------------------------------------------------------------- */
                                          /* Header Section */
/* --------------------------------------------------------------------------------------------------------- */

.header__one {
  display: none;
}

.header__three {
  display: none;
}

.header__container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  border: none;
  padding: 15px 23px;
  border-radius: 10px;
  font-size: var(--fs-button);
  font-weight: bold;
  cursor: pointer;
}

.primary-btn:hover {
  background: var(--primary-color-main);
  color: white;
  padding: 13px 21px;
  border: 2px solid white;
}



.secondary-btn {
  background: var(--primary-color-main);
  color: white;
}

.secondary-btn:hover {
  background: white;
  color: var(--primary-color-main);
  border: 2px solid var(--primary-color-main);

}


/* --------------------------------------------------------------------------------------------------------- */
                                          /* Section One & Two */
/* --------------------------------------------------------------------------------------------------------- */
.section__container {
  height: 530px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section__container h1 {
  font-size: var(--fs-hero-title);
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 2.7px;
  margin-bottom: 13px;
}

.section__container p {
  font-size: var(--fs-hero-subtitle);
  line-height: 27px;
  margin-bottom: 22px;
}


/* ######################################################################################################## */
                                          /* Card Section */
/* ######################################################################################################## */



.card__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-two {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.card__contents h1 {
  font-size: var(--fs-h3);
  font-weight: 600;
  color: var(--primary-color-sub);
  margin-bottom: 7px;
}

.card__contents p {
  font-size: var(--fs-body);
  margin-bottom: 10px;
}

.card__contents span {
  color: var(--primary-color-main);
  font-weight: 500;
  font-size: var(--fs-label);
  text-transform: uppercase;
}



/* ######################################################################################################## */
                                          /* Choose Us Section */
/* ######################################################################################################## */

.choose-us__container {
  margin-top: 110px;
}


.choose-us__one {
  text-align: center;
  margin-bottom: 40px;
}

.choose-us__one h2{
  margin-top: 7px;
}

.choose-us__two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-us__card {
  display: flex;
  width: 230px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.choose-us__card-content {
  margin-left: 10px;
}

.choose-us__card-content h3 {
  font-size: var(--fs-label);
  font-weight: 500;
}

.choose-us__card-content p {
  font-size: var(--fs-button);
  font-weight: 300;
}


/* --------------------------------------------------------------------------------------------------------- */
                                          /* Collection Ideas Section */
/* --------------------------------------------------------------------------------------------------------- */
.collect__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.collect__two {
  text-align: center;

}

.collect__two h2 {
  font-size: var(--fs-h3);
  font-weight: 500;
  color: var(--primary-color-sub);
  margin-bottom: 10px;
}

.collect__two p {
  font-size: var(--fs-small);
  margin-bottom: 10px;
  text-align: start;


}

.collect__two ul li {
  font-size: var(--fs-small);
  margin-bottom: 5px;
  margin-left: 20px;
}

.collect__two button {
  margin-top: 15px;
}


/* --------------------------------------------------------------------------------------------------------- */
                                          /* SaveTime Section */
/* --------------------------------------------------------------------------------------------------------- */
.save__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.save__one {
  margin-bottom: 35px;
}

.savetime-icon {
  width: 130px;
  height: auto;
  margin-bottom: -40px;
  margin-right: 15px;

}

.percentage-icon {
  font-size: 45px;
  font-weight: 500;

}

.pargraph-icon {
  font-size: var(--fs-h3);
}

.save__one {
  text-align: center;
}

.save__two-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}



/* ######################################################################################################## */
                                          /* Media Screens */
/* ######################################################################################################## */


@media only screen and (min-width: 800px) { 
    :root {
  /* -- font styles -- */
  --fs-nav: 1.1rem;
  --fs-hero-title: 3.5rem;
  --fs-hero-subtitle: 1.23rem;
  --fs-h1: 2.25rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
  --fs-small: 1rem;
  --fs-button: 0.90rem;
  --fs-label: 0.95rem;
  --fs-footer: 0.85rem;
  --fs-logo: 2rem

  } 



/* --------------------------------------------------------------------------------------------------------- */
                                          /* Header Section */
/* --------------------------------------------------------------------------------------------------------- */

.header__container {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.section__container h1 {
  line-height: 53px;
  letter-spacing: 3px;
}

.header__one {
  display: block;
}

.header__three {
  display: block;
}

.header__flex {
  display: flex;
  gap: 13px;
  cursor: pointer;
}

.header__flex li:hover {
  color: var(--primary-color-sub);
}



/* --------------------------------------------------------------------------------------------------------- */
                                          /* Card Section */
/* --------------------------------------------------------------------------------------------------------- */

.card__container{
  flex-direction: row;
  gap: 35px;
}


/* --------------------------------------------------------------------------------------------------------- */
                                          /* Choose Us Section */
/* --------------------------------------------------------------------------------------------------------- */


.choose-us__two {
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  
}


/* --------------------------------------------------------------------------------------------------------- */
                                          /* Collect Section */
/* --------------------------------------------------------------------------------------------------------- */


.collect__container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}


.collect__two {
  width: 50%;
}



/* save container */
.save__container {
  flex-direction: row;
  max-width: 750px;
  gap: 25px;
  justify-content: space-between;
}

}










/* second media screen - for larger */

@media only screen and (min-width: 950px) { 

.card-two {
  flex-direction: row;
}

}