:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary-color: #008000;
  --seondary-color: #d1ebd1;
  --light-background: #E8F5E9;

  --font-color-main: #263238;
  --font-color-secondary: #717171;

}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* default styles */
.primary-btn {
  padding: 13px 28px;
  background-color: var(--primary-color);
  border: none;
  font-size: .9rem;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.primary-btn:hover {
  background: white;
  border: 2px solid black;
  padding: 11px 26px;
  color: black;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}



/* Header Style */

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.navbar__logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navbar__logo p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}

.navbar__logo span {
  color: var(--primary-color);
}

.navbar__navigations {
  display: none;
  gap: 18px;
  align-items: center;
}

.navbar__navigations ul {
  display: flex;
  gap: 15px;
}

/* hero section */
main {
    background-color: #d1ebd1;

}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: center;
  justify-content: space-around;
  
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}


.hero__contentHeading {
  font-size: 2.2rem;
  line-height: 38px;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* client section */
.client__container {
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
}

.client__heading {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.client__heading h1 {
  color: var(--font-color-main);
}

.client__heading p {
  color: var(--font-color-secondary);
}

.client__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.client__images img {
  width: 70px;
  height: auto;
}

/* community section */

.community__container {
  padding-top: 30px;
}


.community__card {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  gap: 12px;
  width: 300px;
  height: 300px;
  align-items: center;
  text-align: center;
  background-color: var(--light-background);
  justify-content: center;
  border-radius: 10px;
}

/* media screen */
@media only screen and (min-width: 800px) {
  
  /* navbar */
  .navbar__navigations {
    display: flex;
  }


  /* hero container */
  .hero__container {
    flex-direction: row;
    height: 70vh;
    gap: 10px;
  }

  .hero__content {
    width: 60%;
    text-align: start;
    padding-top: 0;
  }

  .hero__image {
    flex: 1;
    padding-bottom: 0;
  }

  .hero__image img {
    display: block;
    
  }

  .hero__contentHeading {
    font-size: 3rem;
    line-height: 55px;
  }

  .responsive {
    max-width: 430px;
    height: auto;
    object-fit: contain;
  }


  /* cleint section */
  .client__images {
    flex-direction: row;
    justify-content: space-around;
  }

}


