:root {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1d79f1;
  --secondary-color: #a2b8d4;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

.primary-btn-style {
  background-color: var(--primary-color);
  color: white;
  padding: 13px 18px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.primary-btn-style:hover {
  color: black;
  background-color: white;
  padding: 11px 16px;
  border: 2px solid black;
}

.seconday-btn {
  color: white;
  border: 2px solid white;
  padding: 11px 16px;
}

.width {
  width: 88%;
  margin: 0 auto;
}

/* header desing */

header {
  height: 80px;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: 1px solid black;
   position: fixed;
  top: 0;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 0 auto;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.navbar__logo p {
  font-size: 1.7rem;
  font-weight: 800;
}

.removed {
  cursor: pointer;
  margin-top: 25px;
}

.navbar__list ul {
  display: none;
}

/* Hero Section */

.hero__container {
  margin-top: 80px;
}

.hero__heading {
  height: 15vh;
  line-height: 38px;
  display: flex;
  align-items: center;
 
}

.hero__heading h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.hero__heading span {
  color: var(--primary-color);
}

.hero__contents {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;

}

.hero__image {
  object-fit: fill;
  width: 100%;

}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.hero__cta {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;

}

.hero__cta_two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__cta h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.85rem;
  margin-bottom: -10px;
}

.hero__cta p {
  font-weight: 200;
  font-size: 1.2rem;
}

/* details section */

/* community section */

.community__heading {
    margin-top: 0px;
}

.community__container {
  display: flex;
  flex-direction: column;
}

.community__contents_wrapper {
  border-bottom: 1px solid black;
  padding-top: 25px;
  padding-bottom: 25px;
}

.comunity_heading {
  font-size: 1.1rem;
}

.community_subheadings h1 {
  font-size: 1.5rem;
}

.community_subheadings p {
  font-weight: 300;
  font-size: 1.1rem;
  margin-top: 8px;
}

.cm_test button {
  width: 100%;
  margin-top: 13px;
  margin-bottom: 13px;
}

/* Booking container */
.booking_container {
  background-color: var(--primary-color);
  margin: 0 auto;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid black;
}

.booking_container h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.booking_container p {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}




/* heading h1 */

@media only screen and (min-width: 515px) {
  .hero__heading h1 {
    font-size: 2.8rem;
  }

  /* booking */
.booking_container h1 {
  font-size: 3rem;
}

.booking_container p {
  font-size: 1.6rem;
}
}

@media only screen and (min-width: 700px) {
  .hero__heading h1 {
    font-size: 3.6rem;
    text-align: center;
  }

}

/* responsive main media */

@media only screen and (min-width: 800px) {

  .hero__heading h1  {
    font-size: 4.21rem;
    text-align: center;
  }

  /* navbar */
  .removed {
    display: none;
  }

  .navbar__logo {
    margin-top: 20px;
  }

  .navbar__list ul {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 50px;
  }

  .navbar__list ul li {
    text-transform: uppercase;
  }

  /* hero section */
  .hero__contents {
    flex-direction: row;
  }

  .hero__cta {
    width: 57%;
    align-items: center;
    border-left: 1px solid black;
    border-top: none;
  }

  .hero__cta_two {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  /* details section */
  .details_section_image {
    width: 65.5%;
  }

  .hero__contents_reverse {
    flex-direction: row-reverse;
  }


  /* community container */
  .community__container {
    flex-direction: row;
  }

  .community_image {
    flex: 1;
  }

.community__contents {
  width: 40%;
}

.comunity_heading {
  border-top: 1px solid black;
}


/* booking section */
.booking_container h1 {
  font-size: 4rem;
}

.booking_container p {
  font-size: 1.5rem;
}
}

