:root {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1d79f1;
  --secondary-color: #a2b8d4;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

.primary-btn-style {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
}

.width {
  width: 88%;
  margin: 0 auto;
}

/* header desing */

header {
  height: 80px;
  background-color: var(--secondary-color);
  border-bottom: 1px solid black;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 0 auto;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.navbar__logo p {
  font-size: 1.7rem;
  font-weight: 800;
}

.removed {
  cursor: pointer;
  margin-top: 25px;
}

.navbar__list ul {
  display: none;
}

/* Hero Section */

.hero__heading {
  height: 13vh;
  line-height: 38px;
  display: flex;
  align-items: center;
 
}

.hero__heading h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.hero__heading span {
  color: var(--primary-color);
}


.hero__image img {
  width: 100%;
  height: auto;
}











@media only screen and (min-width: 800px) {
  .removed {
    display: none;
  }

  .navbar__logo {
    margin-top: 20px;
  }

  .navbar__list ul {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 50px;
  }

  .navbar__list ul li {
    text-transform: uppercase;
  }
}
