:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  --primary-color : #F7F6F0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* default styles */
.width {
  width: 90%;
  margin: 0 auto;
}

.primary--btn {
  border: none;
  background-color: black;
  color: white;
  padding: 13px 28px;
  font-size: .9rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid black;
}

.primary--btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}


/* header section */

header {
  height: 12vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header__logo h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: -3px;
}

.header__logo p {
  font-size: 0.9rem;
}

.header__navigations {
  display: none;
}

.header__atc {
  display: none;
}

/* hero section */

main {
  background-color: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 30px;

}

.hero_images {
  height: 400px;
}

.hero__image-one {
  display: none;
}

.hero__container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  gap: 10px;
}

.hero__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 50%;
    justify-content: center;
}

.hero__image-two {
  flex: 1;
}

.hero__content_heading h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: -20px;
}

.hero__content_heading p {
  font-size: 1.7rem;
  border-bottom: 1px solid black;
  line-height: 55px;
}


/* product images */
/* seasonal collection */

.product__image_card img {
  height: auto;
  width: 100%;
  max-width: 450px;
  object-fit: contain;
  margin-bottom: 5px;
}

.product__container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.product__images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product__heading h1 {
  font-size: 3rem;
  line-height: 50px;
  text-align: center;
}

.product__image_card {
  text-align: center;
}

.product__image_card p {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* best seller */
.product__image_card-price p {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.best_seller {
  margin-bottom: 50px;
}

/* offer section */
.offer__left {
  display: none;
}

.offer__left img {
  width: 100%;
  max-width: 190px;
  height: auto;
}

.offer__right img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.offer__section{
  background-color: var(--primary-color);
}

.offer__container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.offer__content {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.offer__content h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.offer__content p {
  font-size: 1.2rem;
  color: rgb(49, 48, 48);
}

.offer__content button {
  margin-top: 15px;
}


.offer__right {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}






















/* media query */
@media only screen and (min-width: 800px) {
  /* header style */
  header {
    justify-content: space-between;
  }

  .header__navigations {
  display: block;
  width: 20%;
}

.header__navigations ul {
  display: flex;
  gap: 25px;
}

.header__atc {
  display: flex;
  width: 20%;
  height: 25px;
  justify-content: flex-end;
  gap: 30px;
}

.header__logo {
  flex: 1;
}


/* hero section */
.hero_images {
  height: 500px;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;

}

.hero__container {
  flex-direction: row;
  height: 65vh;
}

.hero__image-one {
  display: flex;
  height: 100%;
  width: 35%;
  justify-content: center;
  align-items: center;
}

.hero__image-two {
  display: flex;
  height: 100%;
  width: 35%;
  justify-content: center;
  align-items: center;
}

.hero__content {
  width: 30%;
  height: 100%;
}

.hide {
  display: none;
}

.product__images {
  flex-direction: row;
  gap: 25px;
}


/* offer section */

.offer__container {
  flex-direction: row;
  height: 50vh;

}

.offer__left {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
} 

.offer__content {
  width: 30%;
  height: 100%;
}

.offer__right {
  width: 35%;
  height: 100%;
}




}


@media only screen and (min-width: 1200px) {
  /* hero section */
  .hide {
  display: block;
}

}