:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* default styles */
.width {
  width: 90%;
  margin: 0 auto;
}


/* header section */

header {
  height: 12vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header__logo h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: -3px;
}

.header__logo p {
  font-size: 0.9rem;
}

.header__navigations {
  display: none;
}

.header__atc {
  display: none;
}

/* hero section */



































/* media query */
@media only screen and (min-width: 800px) {
  /* header style */
  header {
    justify-content: space-between;
  }

  .header__navigations {
  display: block;
  width: 20%;
}

.header__navigations ul {
  display: flex;
  gap: 25px;
}

.header__atc {
  display: flex;
  width: 20%;
  height: 25px;
  justify-content: flex-end;
  gap: 30px;
}

.header__logo {
  flex: 1;
}

}