:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary-color-dark: #043873;
  --primary-color-light: #4F9CF9;

  --secondary-color-main: #FFE492;
  --secondary-color-sub: #A7CEFC;

  --white: #FFFFFF;
  --black: #212529
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
}