:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary-color-dark: #043873;
  --primary-color-light: #4F9CF9;

  --secondary-color-main: #FFE492;
  --secondary-color-sub: #A7CEFC;

  --white: #FFFFFF;
  --black: #212529
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
}

/* default styles */
.width {
  width: 91%;
  margin: 0 auto;
}

.primary-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--primary-color-light);
  color: white;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  gap: 1.8px;
  text-transform: capitalize;
  cursor: pointer;
}

.secondary-btn {
  background-color: var(--secondary-color-main);
  color: var(--primary-color-dark);
}

.primary-btn:hover {
  background-color: var(--white);
  color: black;
  border: 2px solid black;
  padding: 8px 18px;
}

img {
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit: contain;
}


/* -------------------------------------------------------------------------------------------- */

/* Header */
.header__navigations {
  display: none;
}

.header {
  height: 8vh;
  background-color: var(--primary-color-dark);
  color: white;
}

.header__container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.header__logo h1 {
  font-size: 1.5rem;
  display: flex;
}

.header__logo span {
  margin-top: 3px;
  margin-right: 1px;
}

.blue_container {
  background-color: var(--primary-color-dark);
  color: var(--white);
}


/* -------------------------------------------------------------------------------------------- */

/* main section */

.main__container {
  background-color: var(--primary-color-dark);
  color: var(--white);
}

.section__container  {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section__one {
  flex: 1;
  
}

.section__one-heading h1{
  font-size: 2.5rem;
  line-height: 45px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.section__one-heading p {
    margin-bottom: 20px;
}

.section__two {
  display: flex;
  justify-content: center;  
  height: 65%;
}

/* ---------------------------------------------------------------------------------------------- */
/* plan__one section */

.plan__one {
  padding: 25px;
}

.plan__one-heading {
  text-align: center;
}

.plan__one-heading h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  line-height: 50px;
}

.plan__two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card {
  width: 82%;
  max-width: 330px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: var(--secondary-color-main);
}

.card__heading .heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.card__heading .price {
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--primary-color-dark);
  margin-top: 5px;
  margin-bottom: 10px;
}

.card__contents p{
  font-size: 1.2rem;
}

.card__contents ul{
  padding: 25px;
}

.card__contents ul li {
  margin-bottom: 10px;
}

.blue__card {
  background-color: var(--primary-color-dark);
  color: var(--white);
  border: none;
}

.blue__card .price {
  color: var(--secondary-color-main);
}

.button-dark {
  background-color: var(--primary-color-dark);
}

/* -------------------------------------------------------------------------------------------------- */
.announcement__container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-color-dark);
  color: var(--white);
}

.annoucement__contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.announcement__container button {
  margin-top: 10px;
}









/* -------------------------------------------------------------------------------------------- */


/* media query */

@media only screen and (min-width: 800px) {
  
  /* header */

  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    width: 15%;
  }
  
  .header__navigations {
    display: flex;
    width: 80%;
  }


  .header__navigations nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .header__navigations nav ul li:hover {
      font-weight: 600;
  }

  .header__navigations nav {
    width: 60%;
    justify-content: space-between;
  }

  .header__btns {
    display: flex;
    height: 80%;
    flex: 1;
    gap: 10px;
    justify-content: center;

  }

  /* -------------------------------------------------------------------------------------------------- */

  /* main section */

  .section__container {
    flex-direction: row;
    align-items: center;
    height: 75vh;
    gap: 25px;
  }

  .section__one {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .section__one-heading h1 {
    font-size: 3rem;
  }

  .section__one-heading p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .section__two {
    flex: 1;
    height: 100%;
  }

  .reverse {
  flex-direction: row-reverse;
}

}


@media only screen and (min-width: 900px) { 
/* --------------------------------------------------------------------------------------------- */
/* shoose your plan section */
.plan__two {
  flex-direction: row;
}


}