:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary-color-dark: #043873;
  --primary-color-light: #4F9CF9;

  --secondary-color-main: #FFE492;
  --secondary-color-sub: #A7CEFC;

  --white: #FFFFFF;
  --black: #212529
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
}

/* default styles */
.width {
  width: 90%;
  margin: 0 auto;
}

.primary-btn {
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--primary-color-light);
  color: white;
  display: flex;
  align-items: center;
  gap: 1.8px;
  text-transform: capitalize;
  cursor: pointer;
}

.secondary-btn {
  background-color: var(--secondary-color-main);
  color: var(--primary-color-dark);
}

.primary-btn:hover {
  background-color: white;
  color: var(--primary-color-light);
  border: 2px solid var(--primary-color-light);
  padding: 8px 16px;
}

.secondary-btn:hover {
  background-color: white;
  color: var(--secondary-color-main);
  border: 2px solid var(--secondary-color-main);
  padding: 8px 16px;
}



/* Header */



/* media query */

@media only screen and (min-width: 800px) {
  

}