:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary-color-one: #F857A6;
  --primary-color-two: #EF3F6E;

  --font-color-black : rgb(46, 44, 44);
  --font-color-grey: rgb(70, 70, 70);


  /* -- font styles -- */
    --fs-nav: 1.1rem;
    --fs-hero-title: 2.25rem;
    --fs-hero-subtitle: 1.125rem;
    --fs-h1: 1.75rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 0.9375rem;
    --fs-small: 0.85rem;
    --fs-button: 0.9375rem;
    --fs-label: 0.75rem;
    --fs-footer: 0.75rem;
    --fs-logo: 1.2rem

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inria Sans", sans-serif;
}


/* Default style */

.width {
  width: 85%;
  margin: 0 auto;
}

.primary-button {
  background: #EF3F6E;
  background: linear-gradient(31deg, rgba(239, 63, 110, 1) 4%, rgba(250, 130, 170, 1) 42%, rgba(248, 87, 166, 1) 94%);  border: none;
  color: black;
  padding: 14px 20px;
  font-weight: 800;
  font-size: var(--fs-button);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-button:hover {
  background: #F857A6;
  background: linear-gradient(31deg, rgba(248, 87, 166, 1) 7%, rgba(250, 130, 170, 1) 100%, rgba(248, 87, 166, 1) 63%);
}

.seconday-button {
  background: #F857A6;
  background: linear-gradient(39deg, rgba(248, 87, 166, 1) 14%, rgba(71, 15, 34, 1) 100%, rgba(248, 87, 166, 1) 100%);
}

.logo-image {
  width: 15px;
  height: 33px;
}

.logo-color {
  color: var(--primary-color-two);
}

/* higligh small tilte */
.highlite-title {
  font-size: var(--fs-small);
  text-transform: uppercase;
  font-weight: bold;
}


/* background color */
.backgorund {
  background: #f593bf;
  background: linear-gradient(43deg, rgba(245, 147, 191, 1) 0%, rgba(247, 200, 224, 1) 0%, rgba(219, 191, 191, 1) 48%, rgba(247, 181, 212, 1) 100%, rgba(186, 186, 186, 1) 74%);
}


/* responsive image */
.image-responsive {
  width: 100%;
  max-width: 350px;
  height: auto;
}

/* icons */
.icon-responsive {
  width: 40px;
  height: auto;
}


/* extra space - bottom and top */
.extra-space {
  margin-bottom: 70px;
}

/* ------------------------------------------------------------------------------------------------------------- */

/* header section */

.header__navigation {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.header__logo h1 {
  font-size: var(--fs-logo);
}

.header__nav {
  display: none;
}

.header__cta {
  display: none;
}

/* header-end */
/* ----------------------------------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------------------- */
/* hero section-start */
.section__container {
  padding: 50px 0;
}

.section__one {
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__one h1 {
  font-size: var(--fs-hero-title);
  line-height: 50px;
  color: var(--font-color-black);
  margin-bottom: 20px;
}

.section__one h3 {
  font-size: var(--fs-hero-subtitle);
  color: var(--font-color-grey);
  margin-bottom: 20px;

}

.section__two {
  display: flex;
  justify-content: center;
}

/* other sections typographies */
/* section one */
.section__one h2 {
  font-size: var(--fs-h2);
  color: var(--font-color-black);
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.section__one p {
  font-size: var(--fs-body);
  color: var(--font-color-grey);
  margin-bottom: 20px;

}

.section__o-list {
  display: flex;
  text-align: start;
  gap: 25px;
}

.section__o-list ul {
  color: var(--font-color-grey);
  font-size: var(--fs-body);
}

.section__o-list ul li {
  padding-bottom: 15px;
}


/* hero-section-end */
/* ----------------------------------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------------------- */
/* feature-section-start */


.feature__one {
  font-size: var(--fs-h3);
  line-height: 40px;
  color: var(--font-color-grey);
  text-align: center;
  margin-bottom: 50px;
}


.feature__card {
  display: flex;
  max-width: 400px;
}

.feature__two-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-bottom: 35px;

}

.card__image {
  flex: 1;
}

.card__content {
  width: 83%;
}

.card__content h2 {
  font-size: var(--fs-h3);
  color: var(--font-color-black);
  margin-bottom: 10px;
}

.card__content p {
  font-size: var(--fs-body);
  color: var(--font-color-grey);
}


/* feature-section-end */
/* ----------------------------------------------------------------------------------------------------- */





















/* -------------------------------------------------------------------------------------------- */
/* media screen */

@media only screen and (min-width: 800px) { 
  :root {
  --fs-nav: 1rem;
  --fs-hero-title: 3rem;
  --fs-hero-subtitle: 1.5rem;
  --fs-h1: 2.25rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
  --fs-small: 0.975rem;
  --fs-button: 1rem;
  --fs-label: 0.875rem;
  --fs-footer: 0.875rem;
  --fs-logo: 1.4rem

}

/* default style */
/* extra space - bottom and top */
.extra-space {
    margin-bottom: 90px;
}


/* ----------------------------------------------------------------------------------------------- */
/* header section */
.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.header__nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: var(--fs-nav);
}

.header__cta  {
  display: block;
}

/* header-end */
/* ----------------------------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------------- */
/* hero section - start */
.section__container {
  display: flex;
  padding: 100px 0;
}

.section__one {
  width: 48%;
  align-items: start;
  text-align: start;
}

.section__two {
  flex: 1;
  align-items: center;
}

/* section one */
.section__o-list  {
  padding: 0 15px;
}

/* hero section - end */
/* ----------------------------------------------------------------------------------------------- */


/* feature section - start */

.feature__two-cards {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* feature section - end */

}